/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

@keyframes shimmer {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}

.gradient-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(315deg, #7C6BD1,#5171AC, #5FFBF1);
  background-size: 200% 200%;
}