.SortVisualizer {
  /* max-width: 992px; */
  width: auto;
  padding-top: 2rem;
  padding-right: 12rem;
  padding-left: 12rem;
  border-radius: 10px;


  margin-top: 5rem;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  /* box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.3); */


  /* background-image: linear-gradient(#7C6BD1, #A855F7); */
  transition: 0.5s ease-in-out;

}


.SortVisualizer__ProgressBar {
  overflow: clip;
  margin: 0.5rem;
}