/* Example of edited CSS file */

/* Adjusting Colors */
html,
body {
  background: #222;
  color: #f5f5f5;
}

/* Modifying Layout */
.wrapper {
  width: 100%;
  max-width: 1200px; /* Adjusted maximum width */
  margin: 0 auto;
  padding: 20px;
}

/* Refining Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
}

/* Adding Transitions and Animations */
.btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #4caf50; /* Adjusted hover background color */
  color: #fff; /* Adjusted hover text color */
}

/* Optimizing for Smaller Screens */
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }
  
  #container {
    grid-template-columns: 1fr;
  }
  
  #canvas,
  #code {
    padding: 20px;
  }
  
  .list-items {
    font-size: 14px;
  }
}

#push-item {
  color: black;
}
/* stack.css */
.stack-item {
  width: 50px;
  height: 50px;
  background-color: #000000;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

