/* Add these styles to your CSS file */
.glassmorphism-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    overflow: hidden;
  }

  .glassmorphism-title {
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin-bottom: 0.5rem;
  }

  /* Add this to your home.css file */

.card-container:hover {
    filter: brightness(80%); /* You can adjust the brightness value as needed */
  }
  
  /* Optional: Add a transition for a smooth effect */
  .card-container {
    transition: filter 0.3s ease;
  }
  
