.SortingControls__Size {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  /* //background-color: var(--white); */
  /* color: #111827; */
  border-radius: 5px;
  margin-right: 25px;
}