.SortChart {
  /* min-width: 320px; */
  /* max-width: 960px; */
  min-height: 218px;
  height: 45vh;
  padding: 1rem;

  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-radius: 10px;
  transition: 0.75s ease-in-out;
}