@import './SortingSettngs/variables.css';

.Sorting {
    --footer-height: 64px;

    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow: scroll;

    padding-bottom: var(--footer-height);
    text-align: center;
    color: var(--text-color);

    background-color: var(--background-color-1);
    transition: color 250ms;
    transition: background-color 500ms ease-in-out;
}

.Sorting__Body {
    padding-top: 64px;
}

.Sorting_modal_open {
    height: 100vh;
    overflow-y: hidden;
}

.Sorting_modal_open footer {
    display: none;
}

@media (max-width: 599px) {
    .Sorting {
        --footer-height: 160px;
    }
}